<div class="container">
    <h3>test work here</h3>
    <div class="row"> 
        <div class=cal-4> 
            <label>Input 1</label>
            <input type="text" class="form-control" >
        </div>
        <div class=cal-4> 
            <label>Input 2</label>
            <input type="time" class="form-control" >
        </div>
        <div class=cal-4>
            <label>Input 3</label>
            <input type="date" class="form-control" >
        </div>   
    </div> 
    <mat-slider min="1" max="100" step="1" value="1"> </mat-slider>
    <h3>Raised Buttons</h3>
    <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
    </div>
    <button class="btn btn-primary">On Click</button>
    <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Checkbox configuration</h2>
      
          <section class="example-section"> 
          </section>
      
          <section class="example-section">
            <label class="example-margin">Align:</label> 
          </section>
      
          <section class="example-section"> 
          </section>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="result">
        <mat-card-content>
          <h2 class="example-h2">Result</h2>
      
          <section class="example-section"> 
          </section>
        </mat-card-content>
      </mat-card>
 
<span class="version-info">Current build: 10.1.2</span>
</div>